@import '../../theme.less';

.home {
    justify-content: flex-end;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .columnLeft {
      flex: 1 1 60%;
      min-height: 100%;
      z-index: 1;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 10%;
      padding-right: 32px;

      & > div {
        position: relative; 
        top: 25%;
        align-items: flex-start;
        justify-content: flex-start;

        .pokerAppHeader {
          align-items: center;
          justify-content: center;
  
          h1 {
            margin-left: @spacing-regular;
            margin-bottom: 0;
            margin-top: 0;
          }
        }
  
        .homeScreenButtons {
          
        }
      }
    }
    .columnRight {
      flex: 1 1 40%;
      margin-right: 10%;

      img {
        position: relative;
        top: 25%;
        right: 0;
        float: right;
        max-width: 100%; 
        max-height: 50%; 
      }
    }

    .background {
      position: absolute;
      top: 0;
      left: 0;
      background-color: @charleston-green;
      min-width: 100%;
      min-height: 100%;

      /* polygon */
      -webkit-clip-path: polygon(100% 0, 100% 21%, 50% 100%, 0 100%, 0 0);
      clip-path: polygon(100% 0, 100% 21%, 50% 100%, 0 100%, 0 0);
    }
  }